bin/
target/

lib_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
.project
.scala_dependencies
.classpath
bin-tmp/
presentation/*.pdf
presentation/*.aux
presentation/*.nav
presentation/*.out
presentation/*.log
presentation/*.snm
presentation/*.toc
presentation/*.vrb
presentation/*.synctex.gz